<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhysicalModelsDemo - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PhysicalModelsDemo - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhysicalModelsDemo - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PhysicalModelsDemo - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PhysicalModelsDemo - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PhysicalModelsDemo - VST3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D459F7397F73EE649577944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F2328A1D3A34D587B909A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7226F04800AEFCE8576C382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5482B3B2F932A8124485691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6525CD17E406B22B811C785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB294C11F194AD6143406CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
